In [1]:
# Q.1 Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [3]:
# Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
# variable print it.

In [4]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series = pd.Series(my_list)
print(series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [5]:
# Q3. Create a Pandas DataFrame that contains the following data:

In [6]:
import pandas

data = {
    "Name":["Alice","Bob","Claire"],
    "Age": [25,30,27],
    "Gender":["Female","Male","Female"]
}

df = pd.DataFrame(data)
df

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [7]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.

In [8]:
# In Pandas, a DataFrame is a two-dimensional labeled data structure that consists of rows and columns. 
# It can be thought of as a table, similar to a spreadsheet or a SQL table, where each column can be of a 
# different data type. DataFrames allow for easy manipulation, analysis, and visualization of data.

# On the other hand, a Series is a one-dimensional labeled array capable of holding any data type. It is 
# essentially a single column of data with an associated index. You can think of a DataFrame as a collection of
# Series where each Series represents a column of the DataFrame.

# Here's an example to illustrate the difference between a DataFrame and a Series:

In [9]:
import pandas as pd

# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 40],
    'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']
}

df = pd.DataFrame(data)
print("DataFrame:")
print(df)
print("\nData type of DataFrame:")
print(type(df))

# Creating a Series
ages = pd.Series([25, 30, 35, 40], name='Age')
print("\nSeries:")
print(ages)
print("\nData type of Series:")
print(type(ages))

DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

Data type of DataFrame:
<class 'pandas.core.frame.DataFrame'>

Series:
0    25
1    30
2    35
3    40
Name: Age, dtype: int64

Data type of Series:
<class 'pandas.core.series.Series'>

In [10]:
# In the example above, df is a DataFrame containing information about individuals names, ages, and cities,
# while ages is a Series containing only the ages of the individuals. The DataFrame has multiple columns, each
# represented by a Series, whereas the Series contains only one column of data.

In [11]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
# you give an example of when you might use one of these functions?

In [12]:
# Pandas provides a wide range of functions for manipulating data in a DataFrame. Some common functions include:

# 1.head() and tail(): These functions allow you to view the first or last few rows of the DataFrame.

# 2.info() and describe(): These functions provide summary information about the DataFrame, such as data types,
#     non-null counts, and summary statistics.

# 3. loc[] and iloc[]: These functions are used for accessing subsets of data based on labels (loc[]) or 
#     integer indices (iloc[]).

# 4. drop(): This function is used to remove rows or columns from the DataFrame.

# 5.fillna(): This function is used to fill missing values in the DataFrame with specified values.

# 6.groupby(): This function is used for grouping data based on one or more columns and performing operations on the grouped data.

# 7.merge() and join(): These functions are used for combining multiple DataFrames based on common columns or indices.

# 8.apply(): This function is used to apply a function along one axis of the DataFrame.

# 9.sort_values() and sort_index(): These functions are used to sort the DataFrame by values or indices, respectively.

# 10. pivot_table(): This function is used to create a pivot table from the DataFrame.

# Example of when you might use one of these functions:

# Let's say you have a DataFrame containing information about sales transactions, and you want to calculate the total 
# sales amount for each product. You can use the groupby() function to group the data by the 'Product' column and then sum
# the 'Sales' column to get the total sales amount for each product.

In [15]:
import pandas as pd

# Example DataFrame
data = {
    'Product': ['A', 'B', 'A', 'C', 'B', 'C', 'A', 'C'],
    'Sales': [100, 200, 150, 300, 250, 200, 180, 220]
}

df = pd.DataFrame(data)

# Grouping by 'Product' and calculating total sales
total_sales_by_product = df.groupby('Product')['Sales'].sum()

print(total_sales_by_product)

# In this example, the groupby() function is used to group the data by the 'Product' column, and then the sum() 
# function is applied to calculate the total sales amount for each product.

Product
A    430
B    450
C    720
Name: Sales, dtype: int64

In [13]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?

In [16]:
# Among the options provided, Series and DataFrame are mutable in nature, while Panel is not.

# 1. Series: A Pandas Series is mutable, meaning its values can be changed after creation. You can update, add, 
#     or remove elements from a Series.

# 2. DataFrame: Similarly, a Pandas DataFrame is mutable. You can modify the data within a DataFrame, change column names, 
#     add or remove rows or columns, etc.

# 3. Panel: Panel was a data structure in earlier versions of Pandas for handling three-dimensional data, but it has been
#     deprecated in favor of MultiIndex DataFrames. Panels are not mutable; once created, their structure and data cannot
#     be modified.

# However, it's worth noting that while Series and DataFrame are mutable, best practices often involve avoiding in-place
# modifications to ensure clarity and reproducibility of data manipulation operations. Instead, it's often recommended to 
# create new Series or DataFrames with the desired modifications.

In [17]:
# Q7. Create a DataFrame using multiple Series. Explain with an example.

In [18]:
import pandas as pd

# Creating multiple Series
names = pd.Series(['Alice', 'Bob', 'Charlie', 'David'])
ages = pd.Series([25, 30, 35, 40])
cities = pd.Series(['New York', 'Los Angeles', 'Chicago', 'Houston'])

# Creating a DataFrame using multiple Series
df = pd.DataFrame({
    'Name': names,
    'Age': ages,
    'City': cities
})

print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

In [19]:
# In this example, we create three Series: names, ages, and cities. Then, we create a DataFrame df using these
# Series by passing them as a dictionary to the pd.DataFrame() constructor. Each Series becomes a column in the 
# DataFrame, and the resulting DataFrame contains columns named 'Name', 'Age', and 'City'. Each row corresponds 
# to the data from the corresponding index of each Series.